.botonform {
    margin-bottom: 20px;
  }
  

  

  
  

  form {
    width: 450px;
    height: 450px;
    margin: auto;
    background-color: rgba(39, 39, 39, 0.758);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 180px;
    border-radius: 10px;
    margin-left: 800px;
    text-align: center;
    color: $blanco;
  }
  
  textarea {
    color: $blanco;
    background-color: $negro;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
  
    & {
      min-height: 100px;
      max-height: 100px;
      max-width: 100%;
      min-width: 100%;
    }
  }
  